/.vs
/.tmp
/bin
*.vcxproj
*.vcxproj.filters
*.ipch
*.pbd
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.vsidx
*.DS_Store
*.aps
*.tlog
*.obj
*.idb
*.log
*.pdb
Fraggers/x64/Debug/Fraggers.log
*.ilk
*.log
Fraggers/x64/Debug/FraggersD.ilk
*.ilk
